@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
	themes: all;
}

html {
	font-family: 'Geist', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}
